<!DOCTYPE html>
<html>
<head>
    <title>Archive - {{ site_title }}</title>
</head>
<body>
    <h1>Archive</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ post.guid }}">{{ post.post_title }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
